@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'VT323', monospace;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(#3B1D59, #892575);
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}

header .logo {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 4em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7em;
}

header ul li {
    list-style: none;
    margin-left: 20px;
}

header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    /*border-radius: 20px;*/
}

header ul li a:hover,
header ul li a.active {
    background: #fff;
    color: #3B1D59;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #000000, transparent);
    z-index: 1000;
    overflow: hidden;
}

.icon {
    position: absolute;
    z-index: 9;
    top: 5%;
    left: 44.5%;
}

.icon a {
    z-index: 9;
    text-decoration: none;
    display: inline-block;
}

.icon i {
    color: white;
    font-size: 2em;
    margin-right: 20px;
    margin-top: 300px;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon i img {
    width: 1em;
    height: 1em;
    position: relative;
}

section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

#btn {
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    /*border-radius: 40px;*/
    background: #fff;
    color: #3B1D59;
    font-size: 4em;
    z-index: 9;
    transform: translateY(100px);
    font-size: 1.7em;
}

.story {
    position: relative;
    padding: 100px;
    background: #000;
}

.story h2 {
    font-size: 5em;
    margin-bottom: 10px;
    color: #fff;
    text-align: center;
}

.story p {
    font-size: 2em;
    color: #fff;
    text-align: center;
}

.about_Us {
    position: relative;
    padding: 100px;
    background: #000;
    text-align: center;
}

.about_Us h2 {
    font-size: 4em;
    margin-bottom: 10px;
    color: #fff;
    text-align: center;
}

.about_Us p {
    font-size: 2em;
    color: #fff;
    text-align: center;
}

.roadmap {
    position: relative;
    padding: 100px;
    background: #000;
}

.roadmap h2 {
    font-size: 4em;
    margin-bottom: 10px;
    color: #fff;
    text-align: center;
}

.roadmap p {
    font-size: 2em;
    color: #fff;
    text-align: center;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clear {
    clear: both;
}

/*footer*/

footer {
    background-color: #1b2028;
    position: relative;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer h3 {
    color: #fff;
    font-size: 1em;
    font-weight: 50;
}

footer p {
    color: #fff;
    font-size: 20px;
    font-weight: 50;
}

footer i {
    color: white;
    font-size: 2em;
    margin-right: 20px;
}

footer img {
    width: 2em;
    height: 2em;
    position: relative;
    
}


/*media quarry*/

@media (max-width: 2150) {
    .icon {}
}